@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Kaleb Uriel Miranda Cadena </h1>
    <h2>Soy un desarrollador full stack especializado en tecnologias .NET y Javascript.</h2>


    <img 
    style="width: 200px; margin: 2rem 0; border-radius: 50%;"
    src="~/imagenes/foto1.png" alrt="Foto de kaleb" />


</div>
